.loadingSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading{
    animation: sizeUp 2.5s linear;
}

.pokeball{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upperBall{
    background-color: red;
    width: 300px;
    height: 130px;
}

.lowerBall{
    background-color: lightgray;
    width: 300px;
    height: 130px;
    margin-top: 40px;
}

.ballMid{
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: lightgray;
    border-radius: 50%;
    border:solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ballMidDot{
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border-radius: 50%;
    border:solid black 1px;
}

@keyframes sizeUp {
    0%{
        transform: scale(0.1);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(2);
    }
    
}