/* ! ++++++++++ POKEMON-CARD ++++++++++ */

.pokemon-card {
  width: 30rem;
  height: 40rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* ! ++++++++++ POKEMON-CARD-IMG ++++++++++ */

.pokemon-card img {
  width: 20rem;
}

/* ! ++++++++++ POKEMON-CARD-CATCHED ++++++++++ */

.pokemon-card .catched {
  width: 15rem;
  height: 5rem;
  background-color: green;
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon-card .catchedimg {
  filter: saturate(1);
}

/* ! ++++++++++ POKEMON-CARD-NOT-CATCHED ++++++++++ */

.pokemon-card .notcatched {
  width: 15rem;
  height: 5rem;
  background-color: red;
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon-card .notcatchedimg {
  filter: saturate(0);
}

/* ! ++++++++++ DETAILS-BUTTON ++++++++++ */

.pokemon-card button {
  width: 12rem;
  height: 3rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon-card button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
